
plans
set_test
set_training
set_validation

20220626*
20220621*
20220705*
20220713*
__pycache__/
Dataset/
.ipynb_checkpoints/
AutoencoderJupV2.ipynb
*.pcy
Dataset_Parte2/set_test_x
Dataset_Parte2/set_test_y
Dataset_Parte2/set_training_x
Dataset_Parte2/set_training_y
Dataset_Parte2/set_validation_x
Dataset_Parte2/set_validation_y
